# ---------------------------------------------------------------------------- #
#                                     code                                     #
# ---------------------------------------------------------------------------- #

__pycache__
.mypy_cache
test*
.venv

# ---------------------------------------------------------------------------- #
#                                    fly-in                                    #
# ---------------------------------------------------------------------------- #

poetry.lock
